* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

html {
  scroll-behavior: smooth;
}


header img{
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 75%;
  margin: 0px; 
}

header h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: beige;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header nav {
  background-color: #AB7743;
  display: flex;
  justify-content: center;
  margin: 0px; 
  padding: 16px;
  position: relative;
  }

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  margin: 0;
}

header nav a {
  color: beige;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

main {
  padding: 0;
}

main .menu {
  background-color: #d7bda6;
  padding: 30px;
}

main h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main .menu article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cab29e;
  border-radius: 8px;
  padding: 16px;
  margin: 0; 
  text-align: center;
  background: #f6e2d5;
}

main .menu article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

main .menu .drinks,
main .menu .desserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto 30px; 
  align-items: start;
}

main .place-order {
  display: grid;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color:#d7bda6;
}

.place-order form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
}

.place-order form label {
  display: grid;
  margin-bottom: 6px;
}

.place-order .name {
  border: 1px solid #cab29e;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.place-order h3 {
  text-align: center;
  padding: 20px;
}

.place-order .dishes input, .add-ons input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #cab29e;
  border-radius: 4px;
}




.place-order .special-instructions input[type="text"] {
  width: 100%;
  height: auto;
}

.submit {
  display: flex;
  justify-content: center;
  background-color: #e1ae7a;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

footer {
  background-color: #AB7743;
  color: beige;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
